body
{
	background-color: #363636;
}
footer
{
	color: #FFF;
	position: relative;
	width: 100%;
}
b
{
	color: #000;
}
h1
{
	color: #FFF;
	font-family: 'Open Sans', serif;
	font-size: 30px;
	margin: 5px 0;
}
h2
{
	color: #FFF;
	font-family: 'Dosis', serif;
	font-weight: 900;
	margin: 5px 0;
	padding-top: 15px;
}
/*ul li.separador
{
	border-top: 0.01px solid #FFF;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
*/
p#sitePrincipal
{
	font-family: 'Dosis',serif;
	color: #FFF;
	font-size: 50px;
	font-weight: 600;
	padding-bottom: 20px;
}
img#icone
{
	margin-top: 32px;
}
.inline
{
	padding: 0;
	text-align: center;
}
.inline li
{
	display: inline-block;
	font-size: 26px;
	margin: 25px;
}
